html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Muli', sans-serif;
  height: 100vh;
  margin: 0px;
  padding: env(safe-area-inset-top) 0 env(safe-area-inset-bottom) 0;
  display: flex;
  justify-content: center;
}



.App {
  font-family: sans-serif;
  text-align: center;
}
.input-container{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input, button {
  margin-top:10px;
  margin-bottom: 10px;
}